html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: min-content min-content 1fr;
}

header {
  filter: grayscale(1);
}

nav {
  top: 0 !important;
  position: relative !important;
  height: auto !important;
}

nav ul {
  display: flex !important;
  flex-direction: row !important;
}

nav ul .spacer {
  flex: 1 1 auto !important;
  max-width: unset !important;
}

.content-wrapper .title {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 16px;
}

.card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: min-content;
  gap: 16px;
  padding: 16px 10%;
  overflow: auto;
}

@media (max-width: 1440px) {
  .card-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .card-wrapper {
    grid-template-columns: 1fr;
  }
}

.card__content {
  display: grid;
  grid-template-rows: min-content min-content 1fr min-content;
  height: 100%;
  box-sizing: border-box;
}

.card__content .card-head {
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  gap: 8px;
}

/* opensource.min.css | file:///home/niklas/Dokumente/Code/volkswagen-pages/HelloWorld/assets/opensource/opensource.min.css */

.navbar {
  /* background-color: #1565c0; */
  background-color: #004666 !important;
}

.navbar > ul > li.is-active:not(.has-sub) > a {
  /* background-color: #003c8f; */
  background-color: #037da6 !important;
}

.navbar > ul > li.is-active:hover > a,
.navbar > ul > li.is-active > a,
.navbar > ul > li.is-open:hover > a,
.navbar > ul > li.is-open > a,
.navbar > ul > li:hover > a,
.navbar ul ul > li a {
  /* background-color: #003c8f; */
  background-color: #005475 !important;
}

.btn--primary,
a.btn--primary {
  /* background: #1565c0; */
  background: #004666 !important;
}

.subtitle-wrapper {
  display: grid;
  margin-top: 8px;
  margin-bottom: 8px;
}

.subtitle-wrapper .subtitle {
  margin-top: 0;
}
